<div id="root">
    <div id="root">
        <app-filter-list [filters]="filters" [elements]="groups">
            <ng-template let-element>
                 <app-list-item
                    [userName]="userName"
                    [group]="element"
                    [editable]="editable">
                </app-list-item>
            </ng-template>
            <div id="empty-list" empty-list>
                <p *ngIf="!editable">This User has no Groups.</p>
                <p *ngIf="editable">You currently have no Groups.</p>
                <app-operation-text-button
                    *ngIf="editable"
                    label="Create Group"
                    [raised]="true"
                    accentColor="accent"
                    [action]="createGroupClick.bind(this)">
                </app-operation-text-button>
            </div>
        </app-filter-list>
    </div>
</div>
