#root {
    margin: 25px;
    display: flex;
}

#info-container {
    display: grid;
    align-content: space-between;
    width: 65%;
    margin-right: 10px;
}

#image-container {
    display: grid;
    align-content: space-evenly;
    width: 35%;
    margin-left: 10px;
}

.property {
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

#image {
    display: flex;
    justify-content: center;
}

app-repository-image, mat-icon {
    font-size: 175px;

    height: 175px;
    width: 175px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#warning {
    color: rgb(212, 106, 61);
    vertical-align: sub;
    font-size: 20px;
    height: 20px;
}
