#root {
    margin: 20px;
    display: flex;
    height: 300px;
    width: 700px;
}

#info-container {
    display: grid;
    align-content: space-between;
    width: 60%;
    margin: 5px;
}

#image-container {
    display: grid;
    width: 40%;
    margin: 5px;
    align-content: space-around;
}

.field {
    display: flex;
    align-items: center;
}

.field > div {
    margin-left: 15px;
}

.field-button {
    display: flex;
    justify-content: center;
}

#image {
    display: flex;
    justify-content: center;
}

app-repository-image, mat-icon {
    font-size: 200px;

    height: 200px;
    width: 200px;
}

app-repository-image ::ng-deep img {
    border-radius: 50%;
}

#name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#warning {
    color: rgb(212, 106, 61);
    vertical-align: sub;
    font-size: 20px;
    height: 20px;
}
