<app-frame headerTitle="Repositories" svgIcon="repository">
    <div *ngIf="editable" frame-header-buttons>
        <app-operation-icon-button
            matTooltip="Publish Repository"
            icon="publish"
            accentColor="accent"
            [action]="publishRepositoryClick.bind(this)">
        </app-operation-icon-button>
        <app-operation-icon-button
            matTooltip="Create Repository"
            icon="add"
            accentColor="accent"
            [action]="createRepositoryClick.bind(this)">
        </app-operation-icon-button>
    </div>
    <app-list frame-body
        [userName]="userName"
        [editable]="editable">
    </app-list>
</app-frame>
