<app-frame headerTitle="Repositories" svgIcon="repository">
    <div *ngIf="editable" frame-header-buttons>
        <button mat-icon-button
            matTooltip="Publish Repository"
            (click)="publishRepositoryClick()"
            #publishButton
            (mouseenter)="publishButton.color='accent'"
            (mouseleave)="publishButton.color=''">
            <mat-icon>publish</mat-icon>
        </button>
        <button mat-icon-button
            matTooltip="Create Repository"
            (click)="createRepositoryClick()"
            #createButton
            (mouseenter)="createButton.color='accent'"
            (mouseleave)="createButton.color=''">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <app-list frame-body
        [userName]="userName"
        [editable]="editable">
    </app-list>
</app-frame>
