<ng-template #defaultNameTemplate>
    {{name}}:
</ng-template>

<ng-template #defaultValueTemplate>
    {{value}}
</ng-template>

<div id="root">
    <div id="name">
        <ng-template [ngTemplateOutlet]="nameTemplateRef ? nameTemplateRef : defaultNameTemplate">
        </ng-template>
    </div>
    <div id="value">
        <ng-template [ngTemplateOutlet]="valueTemplateRef ? valueTemplateRef : defaultValueTemplate">
        </ng-template>
        <mat-icon
            *ngIf="copyButton"
            matTooltip="Copy"
            ngxClipboard [cbContent]="value"
            #copyButton
            (mouseenter)="copyButton.color='accent'"
            (mouseleave)="copyButton.color=''"
            svgIcon="clipboard">
        </mat-icon>
    </div>
</div>
