img, mat-icon, mat-spinner {
    font-size: inherit;

    height: 100%;
    width: 100%;

    margin-top: inherit;
    margin-bottom: inherit;
    margin-right: inherit;
    margin-left: inherit;

    border-radius: inherit;

    vertical-align: inherit;

    display: inherit;
}
