<div class="container">
    <p>Select Group:</p>
    <mat-dialog-content>
        <form>
            <app-event-load-element
                [spinnerDiameter]="50"
                [event]="loadEvent"
                [loader]="load.bind(this)">
                <mat-form-field class="fill">
                    <input matInput placeholder="GroupName" [formControl]="control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value)">
                        <mat-option *ngFor="let groupName of filteredOptions | async" [value]="groupName">
                            <div class="option">
                                <div class="image">
                                    <app-group-image [groupName]="groupName" spinnerDiameter="15"></app-group-image>
                                </div>
                                <div class="name" [matTooltip]="groupName">
                                    {{groupName}}
                                </div>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </app-event-load-element>
        </form>
    </mat-dialog-content>
</div>
