<div class="container">
    <div mat-dialog-content>
        <mat-form-field class="fill">
            <input matInput placeholder="Current Password" [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="currentPassword">
            <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{!hideCurrentPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="fill">
            <input matInput placeholder="New Password" [type]="hideNewPassword ? 'password' : 'text'" [(ngModel)]="newPassword">
            <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{!hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="actions" align="center">
        <button mat-button color="warn" (click)="changePasswordClick()">Change</button>
    </div>
</div>
