<mat-card id="root">
    <div id="header">
        <mat-icon svgIcon="repository-config" *ngIf="!loading"></mat-icon>
        <mat-spinner diameter="25" color="accent" *ngIf="loading"></mat-spinner>
        <mat-card-title>Repository Config</mat-card-title>
        <mat-icon svgIcon="repository-config" *ngIf="!loading"></mat-icon>
        <mat-spinner diameter="25" color="accent" *ngIf="loading"></mat-spinner>
    </div>

    <mat-divider></mat-divider>

    <mat-card-content *ngIf="config">
        <app-config-info [config]="config"></app-config-info>
    </mat-card-content>
    <mat-card-actions align="center" *ngIf="config">
        <app-operation-element spinnerDiameter="25" [working]="saving">
            <button mat-button (click)="saveClick()">Save</button>
        </app-operation-element>
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <button mat-button color="warn" (click)="deleteClick()">Delete</button>
        </app-operation-element>
    </mat-card-actions>
</mat-card>
