<div id="root">
    <div id="root">
        <app-filter-list [filters]="filters" [elements]="groups">
            <ng-template let-element>
                <app-group-item [group]="element"></app-group-item>
            </ng-template>
            <div id="empty-list" empty-list>
                <p>You currently have no Groups.<p>
                <app-operation-element spinnerDiameter="25" [working]="creating">
                  <button mat-raised-button
                      #createFirstGroupButton
                      (mouseenter)="createFirstGroupButton.color='primary'"
                      (mouseleave)="createFirstGroupButton.color=''"
                      (click)="createGroupClick()">
                      Create Group
                  </button>
                </app-operation-element>
            </div>
        </app-filter-list>
    </div>
</div>
