<div id="root">
    <div id="root">
        <app-filter-list [filters]="filters" [elements]="tokens">
            <ng-template let-element>
                <app-list-item
                    [token]="element"
                    [selected]="isSelected(element)"
                    (click)="tokenClick(element)">
                </app-list-item>
            </ng-template>
            <div id="empty-list" empty-list>
                <p>You currently have no Access Token.<p>
                <app-operation-text-button
                    [raised]="true"
                    label="Create Token"
                    accentColor="accent"
                    [action]="createTokenClick.bind(this)">
                </app-operation-text-button>
            </div>
        </app-filter-list>
    </div>
</div>
