<app-property [name]="name">
    <ng-template #valueTemplate>
        <div id="single-line"
            *ngIf="!editable && !multipleLines"
            [matTooltip]="value">
            {{value}}
        </div>
        <div id="multiple-line"
            *ngIf="!editable && multipleLines"
            [matTooltip]="value">
            {{value}}
        </div>
        <input matInput id="single-line-input"
            *ngIf="editable && !multipleLines"
            [(ngModel)]="value"
            type="text"
            (change)="valueChanged()"
            [matTooltip]="value">
        <textarea matInput id="multiple-line-input"
            *ngIf="editable && multipleLines"
            [(ngModel)]="value"
            type="text"
            (change)="valueChanged()"
            [matTooltip]="value">
        </textarea>
    </ng-template>
</app-property>
