<div class="mat-app-background">
    <button mat-mini-fab (click)="snav.toggle()" id="nav-button" *ngIf="loggedIn" color="accent">
        <mat-icon *ngIf="!snav.opened">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="snav.opened">keyboard_arrow_left</mat-icon>
    </button>

    <mat-sidenav-container class="example-sidenav-container" id="nav-container">
        <mat-sidenav #snav [mode]="'over'" id="nav-side">
            <app-side-nav *ngIf="loggedIn"></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content id="nav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
