<div id="root">
    <div id="info-container">
        <div class="field">
            <div class="label">
                GroupName:
            </div>
            <div *ngIf="group">
                {{group.groupName}}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Creation date:
            </div>
            <div *ngIf="group">
                {{dateToString(group.creationDate)}}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Owner:
            </div>
            <div *ngIf="group">
                <button mat-button routerLink="/users/{{group.ownerName}}">
                    {{group.ownerName}}
                </button>
            </div>
        </div>
        <div class="field">
            <div class="label">
                Description:
            </div>
            <div *ngIf="group">
                <div *ngIf="editable">
                    <mat-form-field>
                        <input matInput placeholder="" [(ngModel)]="group.description">
                    </mat-form-field>
                </div>
                <div *ngIf="!editable">
                    {{group.description}}
                </div>
            </div>
        </div>
        <div class="field-button" *ngIf="editable">
            <button mat-button (click)="saveClick()">Save</button>
        </div>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div id="image-container">
        <div id="image">
            <mat-spinner *ngIf="loading" color="accent" diameter="75"></mat-spinner>
            <app-group-image *ngIf="!loading" [groupName]="group.groupName" spinnerDiameter="75"></app-group-image>
        </div>
        <div class="field-button" *ngIf="editable">
            <input type="file" (change)="changeImage($event.target.files[0])" #selectFile hidden="true">
            <button mat-button (click)="selectFile.click()">Change</button>
        </div>
    </div>
</div>
