<div class="container">
    <p>Select Pipeline Format:</p>
    <mat-dialog-content>
        <mat-form-field>
            <mat-select placeholder="Format" [(value)]="selectedFormat">
                <mat-select-trigger>
                    <div class="selection">
                        <div class="label">
                            {{selectedFormat}}
                        </div>
                        <div class="icon">
                            <mat-icon>{{getFormatIcon(selectedFormat)}}</mat-icon>
                        </div>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let format of formats" [value]="format">
                    <div class="option">
                        <div class="label">
                            {{format}}
                        </div>
                        <div class="icon">
                            <mat-icon>{{getFormatIcon(format)}}</mat-icon>
                        </div>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <div mat-dialog-actions align="center">
        <button mat-button (click)="selectClicked()">Select</button>
    </div>
</div>
