#root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

#root:hover {
    background-color: rgba(182, 182, 182, 0.20);
}

app-repository-image {
    font-size: 20px;

    height: 25px;
    width: 25px;

    margin-right: 10px;
}

app-repository-image ::ng-deep img {
    border-radius: 50%;
}

#icons, #label {
    display: flex;
    align-items: center;
}

#delete-icon {
    margin-right: 5px;
}

#name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
