<a  mat-list-item
    class="entity"
    routerLink="/repositories/{{repository.repositoryName}}">
    <app-repository-image class="image" [repositoryName]="repository.repositoryName" [spinnerDiameter]="15"></app-repository-image>
    {{repository.repositoryName}}

    <div class="icons">
        <mat-spinner color="accent" *ngIf="deleting" [diameter]="25"></mat-spinner>
        <mat-icon   #deleteIcon
                    id="delete-icon"
                    *ngIf="isOwner && !deleting"
                    matTooltip="Delete"
                    (mouseenter)="deleteIcon.color='warn'"
                    (mouseleave)="deleteIcon.color=''"
                    (click)="deleteClick()">delete</mat-icon>
        <mat-icon *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
        <mat-icon *ngIf="isMember" matTooltip="Member">people</mat-icon>
    </div>
</a>
