form {
    width: 30vw;
}

button {
    display: flex;
    margin: auto;
    justify-content: center;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

app-group-image {
    font-size: 30px;

    height: 30px;
    width: 30px;
    margin-right: 10px;
}

app-group-image ::ng-deep img {
    border-radius: 50%;
}

app-group-image ::ng-deep mat-icon {
    margin: 0px !important;
}
