<button mat-button *ngIf="!selected" #itemButton
    (mouseenter)="itemButton.color='primary'"
    (mouseleave)="itemButton.color=''">
    <div class="button-content">
        <div class="token-name" [matTooltip]="token.name">
            {{token.name}}
        </div>
        <div class="icons">
            <mat-icon
                [matTooltip]="token.writeAccess? 'Write Acceess' : 'Read Access'"
                [svgIcon]="token.writeAccess? 'pencil' : 'pencil-off'">
            </mat-icon>
            <mat-spinner diameter="25" color="accent" *ngIf="deleting"></mat-spinner>
            <mat-icon #deleteIcon *ngIf="!deleting"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                matTooltip="Delete Token"
                (click)="deleteClick()">
                delete
            </mat-icon>
        </div>
    </div>
</button>
<button mat-raised-button *ngIf="selected" color="primary">
    <div class="button-content">
        <div class="token-name" [matTooltip]="token.name">
            {{token.name}}
        </div>
        <div class="icons">
            <mat-icon
                [matTooltip]="token.writeAccess? 'Write Acceess' : 'Read Access'"
                [svgIcon]="token.writeAccess? 'pencil' : 'pencil-off'">
            </mat-icon>
            <mat-spinner diameter="25" color="accent" *ngIf="deleting"></mat-spinner>
            <mat-icon #deleteIcon *ngIf="!deleting"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                matTooltip="Delete Token"
                (click)="deleteClick()">
                delete
            </mat-icon>
        </div>
    </div>
</button>
