app-tools-repository-image {
    font-size: 25px;

    height: 30px;
    width: 30px;

    margin-right: 10px;
}

app-tools-repository-image ::ng-deep img {
    border-radius: 50%;
}

mat-nav-list {
    height: 80%;
    margin-left: 10%;
    overflow-y: auto;
}

mat-form-field {
    width: 90%;
    margin-left: 5%;
}
