<input type="file" (change)="clicked($event.target.files[0], $event)" #selectFile hidden="true">
<app-wait-element
    [spinnerDiameter]="spinnerDiameter"
    [spinnerColor]="spinnerColor"
    [waitting]="working">
    <button mat-button *ngIf="!raised"
        #button
        [color]="color"
        (mouseenter)="button.color=accentColor"
        (mouseleave)="button.color=color"
        (mouseup)="button.color=color"
        (click)="selectFile.click()">
        {{label}}
    </button>
    <button mat-raised-button *ngIf="raised"
        #button
        [color]="color"
        (mouseenter)="button.color=accentColor"
        (mouseleave)="button.color=color"
        (mouseup)="button.color=color"
        (click)="selectFile.click()">
        {{label}}
    </button>
</app-wait-element>
