<div id="root" (click)="elementClick()">
    <div id="label">
        <app-group-image class="image" [groupName]="group.groupName" [spinnerDiameter]="15"></app-group-image>
        <div id="name" [matTooltip]="group.groupName">
            {{group.groupName}}
        </div>
    </div>

    <div id="icons">
        <app-operation-icon-button
            *ngIf="editable"
            matTooltip="Delete"
            icon="delete"
            accentColor="warn"
            [action]="deleteClick.bind(this)">
        </app-operation-icon-button>
        <mat-icon *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
        <mat-icon *ngIf="isMember" matTooltip="Member">people</mat-icon>
    </div>
</div>
