#root {
    display: flex;
    justify-content: space-between;
}

#logo, #name, #icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    display: block;
    width: 80%;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

app-repository-image {
    display: inline-grid;

    font-size: 26px;

    height: 25px;
    width: 25px;
}
