#root {
    margin: 20px;
}

mat-grid-tile-header {
    justify-content: space-between;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-size: 18px;
}

app-group-info, app-group-members {
    display: grid;
    align-self: flex-end;
    width: 100%;
    height: 88%;
}
