<mat-grid-list cols="30" rowHeight="1:1" gutterSize="25" id="root">
    <mat-grid-tile colspan="7" rowspan="8">
    </mat-grid-tile>
    <mat-grid-tile colspan="16" rowspan="8">
        <mat-grid-tile-header>
            Profile
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingGroup" color="accent"></mat-spinner>
        <app-group-info *ngIf="!loadingGroup && group" [group]="group" [editable]="editable"></app-group-info>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="8">
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="8">
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="8">
        <mat-grid-tile-header>
            Members
            <button
                *ngIf="editable"
                class="addButton"
                mat-icon-button
                matTooltip="Add member"
                (click)="addMemberClick()"
                #addMemberButton
                (mouseenter)="addMemberButton.color='primary'"
                (mouseleave)="addMemberButton.color=''">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingGroup" color="accent"></mat-spinner>
        <app-group-members
            *ngIf="!loadingGroup && group"
            class="fill"
            [members]="group.members"
            [editable]="editable">
        </app-group-members>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="8">
    </mat-grid-tile>
</mat-grid-list>
