#root {
    margin: 20px;
}

mat-grid-tile-header {
    justify-content: space-between;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-size: 18px;
}

app-group-info {
    padding-top: 6%;
    width: 100%;
}

app-group-members {
    padding-top: 11%;
    width: 100%;
}
