<div class="container">
    <p>Select Repository:</p>
    <mat-dialog-content>
        <form>
            <app-event-load-element
                [spinnerDiameter]="50"
                [event]="loadEvent"
                [loader]="load.bind(this)">
                <mat-form-field class="fill">
                    <input matInput placeholder="RepositoryName" [formControl]="control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value)">
                        <mat-option *ngFor="let repositoryName of filteredOptions | async" [value]="repositoryName">
                            <div class="option">
                                <div class="image">
                                    <app-repository-image [repositoryName]="repositoryName" spinnerDiameter="15"></app-repository-image>
                                </div>
                                <div class="name" [matTooltip]="repositoryName">
                                    {{repositoryName}}
                                </div>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </app-event-load-element>
        </form>
    </mat-dialog-content>
</div>
