<div id="root">
    <app-filter-list [filters]="filters" [elements]="configs">
        <ng-template let-element>
            <app-list-item
                [config]="element"
                [selected]="isSelected(element)"
                (click)="configClick(element)">
            </app-list-item>
        </ng-template>
        <div id="empty-list" empty-list>
            <p>You currently have no Repository Configs.<p>
            <app-operation-element spinnerDiameter="25" [working]="creating">
              <button mat-raised-button
                  #createFirstConfigButton
                  (mouseenter)="createFirstConfigButton.color='primary'"
                  (mouseleave)="createFirstConfigButton.color=''"
                  (click)="createConfigClick()">
                  Create Config
              </button>
            </app-operation-element>
        </div>
    </app-filter-list>
</div>
