<div class="container">
    <p>RepositoryName can only contain: Letters, Numbers, '-' or '_'</p>
    <p>'Pipelines' and 'Tools' are reserved words for RepositoryName.</p>
    <div mat-dialog-content>
        <mat-form-field class="fill">
            <input matInput placeholder="RepositoryName" type="text" [(ngModel)]="repositoryName" (input)="repositoryNameChanged()">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="actions" align="center">
        <button mat-button (click)="okClicked()" *ngIf="validRepositoryName">Ok</button>
        <button mat-button *ngIf="!validRepositoryName" color="warn">{{invalidMessage}}</button>
    </div>
</div>
