<mat-card>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="10:1">
            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Id:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">{{repository.id}}</mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile [rowspan]="6">
                <mat-grid-list cols="1" rowHeight="6:1" class="fill">
                    <mat-grid-tile [rowspan]="editable ? 3 : 4">
                        <mat-spinner color="accent" spinDiameter="75" *ngIf="loading"></mat-spinner>
                        <app-tools-repository-image [repositoryId]="repository.id" spinnerDiameter="75" *ngIf="!loading"></app-tools-repository-image>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="editable">
                        <input type="file" (change)="changeImage($event.target.files[0])" #selectFile hidden="true">
                        <button mat-button (click)="selectFile.click()">Change Image</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Name:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">
                        <mat-form-field *ngIf="editable" [matTooltip]="repository.name">
                            <input matInput type="text" [(ngModel)]="repository.name">
                        </mat-form-field>
                        <div *ngIf="!editable" [matTooltip]="repository.name">
                            {{repository.description}}
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Description:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">
                        <mat-form-field *ngIf="editable" [matTooltip]="repository.description">
                            <input matInput type="text" [(ngModel)]="repository.description">
                        </mat-form-field>
                        <div *ngIf="!editable" [matTooltip]="repository.description">
                            {{repository.description}}
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Created:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">{{dateToString(repository.creationDate)}}</mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Public:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">
                        <mat-slide-toggle
                            #publicToggle
                            [color]="primary"
                            [disabled]="!editable"
                            [(ngModel)]="repository.isPublic">
                            {{publicToggle.checked ? 'Public' : 'Private'}}
                        </mat-slide-toggle>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Owner:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="repository">
                        <mat-nav-list>
                            <a  mat-list-item
                                routerLink="/users/{{repository.ownerName}}">
                                {{repository.ownerName}}
                            </a>
                        </mat-nav-list>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions *ngIf="editable" align="center">
        <button mat-button (click)="saveClick()">Save</button>
    </mat-card-actions>
</mat-card>
