<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-spinner color="accent" *ngIf="loading" [diameter]="25"></mat-spinner>
                <mat-icon *ngIf="!loading">group</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                My Groups
                <app-operation-element spinnerDiameter="25" [working]="creating">
                    <button
                        mat-icon-button
                        matTooltip="Create Group"
                        (click)="createGroupClick($event)"
                        #addGroupButton
                        (mouseenter)="addGroupButton.color='accent'"
                        (mouseleave)="addGroupButton.color=''">
                        <mat-icon>add</mat-icon>
                    </button>
                </app-operation-element>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-my-groups-list></app-my-groups-list>
    </mat-expansion-panel>
</mat-accordion>
