<div id="root">
    <app-filter-list [filters]="filters" [elements]="members">
        <ng-template let-element>
            <app-user-member-item
                *ngIf="element.userName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-user-member-item>
            <app-group-member-item
                *ngIf="element.groupName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-group-member-item>
        </ng-template>
        <div id="empty-list" empty-list>
            <p>This Repository has no members.</p>
            <app-operation-text-button
                *ngIf="editable"
                label="Add User Member"
                [raised]="true"
                accentColor="accent"
                [action]="addUserMemberClick.bind(this)">
            </app-operation-text-button>
            <app-operation-text-button
                *ngIf="editable"
                label="Add Group Member"
                [raised]="true"
                accentColor="accent"
                [action]="addGroupMemberClick.bind(this)">
            </app-operation-text-button>
        </div>
    </app-filter-list>
</div>
