<app-event-load-element
    [event]="loadEvent"
    [loader]="load.bind(this)">
    <div id="root">
        <div id="non-existent-user" *ngIf="user === null">
            <app-non-existent-entity
                icon="person"
                message="There is no User {{userName}}!">
            </app-non-existent-entity>
        </div>
        <div id="existent-user"  *ngIf="user">
            <div id="left">
                <div id="user-profile-container">
                    <app-user-profile [userName]="userName" [editable]="editable"></app-user-profile>
                </div>
                <div id="user-groups-container">
                    <app-user-groups [userName]="userName" [editable]="editable"></app-user-groups>
                </div>
            </div>
            <div id="right">
                <div id="user-repositories-container">
                    <app-user-repositories [userName]="userName" [editable]="editable"></app-user-repositories>
                </div>
            </div>
        </div>
    </div>
</app-event-load-element>
