#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#non-existent-repository, #existent-repository {
    width: 100%;
    height: 100%;
}

#non-existent-repository {
    display: flex;
    justify-content: center;
    align-items: center;
}

#existent-repository {
    display: flex;
    padding: 50px;
}

#left, #right {
    display: grid;
    width: 50%;
}

#left {
    justify-items: start;
}

#right {
    justify-items: end;
}

#repository-profile-container {
   width: 90%;
}

#repository-members-container {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#repository-tools-container {
    width: 90%;
}
