app-event-load-element ::ng-deep #content, app-event-load-element ::ng-deep mat-icon, app-event-load-element ::ng-deep img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-event-load-element ::ng-deep mat-icon {
    font-size: inherit;
}

.circular {
    border-radius: 50%;
}
