<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-spinner color="accent" *ngIf="loading" [diameter]="25"></mat-spinner>
                <mat-icon *ngIf="!loading">build</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                My Tools Repositories
                <div class="buttons">
                    <app-operation-element spinnerDiameter="25" [working]="publishing">
                        <button
                            mat-icon-button
                            matTooltip="Publish Repository"
                            (click)="publishRepositoryClick($event)"
                            #publishRepositoryButton
                            (mouseenter)="publishRepositoryButton.color='accent'"
                            (mouseleave)="publishRepositoryButton.color=''">
                            <mat-icon>publish</mat-icon>
                        </button>
                    </app-operation-element>
                    <app-operation-element spinnerDiameter="25" [working]="creating">
                        <button
                            mat-icon-button
                            matTooltip="Create Repository"
                            (click)="createRepositoryClick($event)"
                            #createRepositoryButton
                            (mouseenter)="createRepositoryButton.color='accent'"
                            (mouseleave)="createRepositoryButton.color=''">
                            <mat-icon>add</mat-icon>
                        </button>
                    </app-operation-element>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-my-tools-repositories-list></app-my-tools-repositories-list>
    </mat-expansion-panel>
</mat-accordion>
