<mat-card id="root">
    <div id="header">
        <mat-icon svgIcon="ticket" *ngIf="!loading"></mat-icon>
        <mat-spinner diameter="25" color="accent" *ngIf="loading"></mat-spinner>
        <mat-card-title>Access Token</mat-card-title>
        <mat-icon svgIcon="ticket" *ngIf="!loading"></mat-icon>
        <mat-spinner diameter="25" color="accent" *ngIf="loading"></mat-spinner>
    </div>

    <mat-divider></mat-divider>

    <mat-card-content *ngIf="token">
        <app-token-info [token]="token"></app-token-info>
    </mat-card-content>
    <mat-card-actions align="center" *ngIf="token">
        <app-operation-element spinnerDiameter="20" [working]="saving">
            <button mat-button (click)="saveClick()">Save</button>
        </app-operation-element>
        <app-operation-element spinnerDiameter="20" [working]="deleting">
            <button mat-button color="warn" (click)="deleteClick()">Delete</button>
        </app-operation-element>
    </mat-card-actions>
</mat-card>
