<div id="root">
    <app-filter-list [filters]="filters" [elements]="members">
        <ng-template let-element>
            <app-user-member-item
                *ngIf="element.userName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-user-member-item>
            <app-group-member-item
                *ngIf="element.groupName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-group-member-item>
        </ng-template>
    </app-filter-list>
</div>
