<div id="root">
    <app-filter-list [filters]="filters" [elements]="members">
        <ng-template let-element>
            <app-user-member-item
                *ngIf="element.userName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-user-member-item>
            <app-group-member-item
                *ngIf="element.groupName"
                [repositoryName]="repositoryName"
                [member]="element"
                [editable]="editable">
            </app-group-member-item>
        </ng-template>
        <div id="empty-list" empty-list>
            <p>This Repository has no members.</p>
            <app-operation-element spinnerDiameter="25" [working]="creatingUserMember" *ngIf="editable">
              <button mat-raised-button
                  #addUserButton
                  (mouseenter)="addUserButton.color='primary'"
                  (mouseleave)="addUserButton.color=''"
                  (click)="addUserMemberClick()">
                  Add User Member
              </button>
            </app-operation-element>
            <app-operation-element spinnerDiameter="25" [working]="creatingGroupMember">
                <button mat-raised-button
                    #addGroupButton
                    (mouseenter)="addGroupButton.color='primary'"
                    (mouseleave)="addGroupButton.color=''"
                    (click)="addGroupMemberClick()">
                    Add Group Member
                </button>
            </app-operation-element>
        </div>
    </app-filter-list>
</div>
