#root {
    margin: 15px 30px 15px 30px;
}

app-filter-list ::ng-deep #list {
    height: 300px;
}

#empty-list {
    display: grid;
    justify-items: center;
    align-items: center;
}

#empty-list > app-operation-element {
    margin: 5px;
}
