<app-frame [headerTitle]="getHeaderTitle()" svgIcon="repository">
    <app-operation-icon-button frame-header-buttons
        *ngIf="editable"
        matTooltip="Download Reopsitory"
        icon="cloud_download"
        accentColor="accent"
        [action]="downloadClick.bind(this)">
    </app-operation-icon-button>
    <app-operation-icon-button frame-header-buttons
        *ngIf="editable"
        [matTooltip]="'Clone ' + getEntityType() + 's from other Repository'"
        svgIcon="sheep"
        accentColor="accent"
        [action]="cloneClick.bind(this)">
    </app-operation-icon-button>
    <app-operation-select-file-icon-button frame-header-buttons
        *ngIf="editable"
        [matTooltip]="'Upload ' + getEntityType() + 's'"
        icon="publish"
        accentColor="accent"
        [action]="uploadClick.bind(this)">
    </app-operation-select-file-icon-button>
    <app-operation-icon-button frame-header-buttons
        *ngIf="editable"
        [matTooltip]="'Create ' + getEntityType()"
        icon="add"
        accentColor="accent"
        [action]="createClick.bind(this)">
    </app-operation-icon-button>
    <div id="frame-body" frame-body>
        <app-list
            *ngIf="config"
            [repositoryName]="repositoryName"
            [editable]="editable">
        </app-list>
        <div *ngIf="config === null" id="no-config-container">
            <div>
                <p>No Repository Config found!</p>
                <p>You need to create a Repository Config to access content of this Repository.</p>
            </div>
            <div>
                <button mat-raised-button
                    #button
                    (mouseenter)="button.color='accent'"
                    (mouseleave)="button.color=''"
                    (click)="goToRepositoryConfigPageClick()">
                    Go to Repository Config Page
                </button>
            </div>
        </div>        
    </div>
</app-frame>
