<a  mat-list-item
    class="entity"
    routerLink="/groups/{{group.groupName}}">
    <app-group-image class="image" [groupName]="group.groupName" [spinnerDiameter]="15"></app-group-image>
    <div id="name" [matTooltip]="group.groupName">
        {{group.groupName}}
    </div>

    <div class="icons">
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <mat-icon   #deleteIcon
                id="delete-icon"
                *ngIf="isOwner && !deleting"
                matTooltip="Delete"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                (click)="deleteClick()">
                delete
            </mat-icon>
        </app-operation-element>
        <mat-icon *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
        <mat-icon *ngIf="isMember" matTooltip="Member">people</mat-icon>
    </div>
</a>
