<app-operation-element spinnerDiameter="25" [working]="working">
    <mat-icon *ngIf="icon"
        #button
        [color]="color"
        (mouseenter)="button.color=accentColor"
        (mouseleave)="button.color=color"
        (mouseup)="button.color=color"
        (click)="clicked($event)">
        {{icon}}
    </mat-icon>
    <mat-icon *ngIf="svgIcon"
        [svgIcon]="svgIcon"
        #button
        [color]="color"
        (mouseenter)="button.color=accentColor"
        (mouseleave)="button.color=color"
        (mouseup)="button.color=color"
        (click)="clicked($event)">
    </mat-icon>
</app-operation-element>
