.container {
    margin: 10px;
}

h1 {
    text-align: center;
}

.actions {
    justify-content: center;
}

#error {
    color: rgb(208, 85, 85);
    vertical-align: sub;
}

#warning {
    color: rgb(212, 106, 61);
    vertical-align: sub;
}

#info {
    color: rgb(71, 154, 218);
    vertical-align: sub;
}

#success {
    color: rgb(93, 191, 103);
    vertical-align: sub;
}

.message {
    max-width: calc(100vw/2);
    max-height: calc(100vh/2);
}
