<div class="container">
    <div mat-dialog-content class="message">
        {{message}}
    </div>
    <div mat-dialog-content>
        <mat-form-field id="field">
            <input
                #valueInput
                matInput
                [placeholder]="placeholder"
                type="text"
                (keyup.enter)="okClick(valueInput.value)">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-button cdkFocusInitial #okButton (click)="okClick(valueInput.value)">Ok</button>
    </div>
</div>
