#grid {
    margin-left: 5px;
    margin-right: 5px;
}

#blue-light {
    background-image: linear-gradient(to left, #448aff, #ffffff);
}

#blue-dark {
    background-image: linear-gradient(to right, #448aff, #000000);
}

#green-light {
    background-image: linear-gradient(to left, #009688, #ffffff);
}

#green-dark {
    background-image: linear-gradient(to right, #009688, #000000);
}

#grey-light {
    background-image: linear-gradient(to left, #607D8B, #ffffff);
}

#grey-dark {
    background-image: linear-gradient(to right, #607D8B, #000000);
}

#purple-light {
    background-image: linear-gradient(to left, #673AB7, #ffffff);
}

#purple-dark {
    background-image: linear-gradient(to right, #673AB7, #000000);
}
