#root {
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    min-width: 400px;
}

#header-wrapper {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-title, .header-buttons {
    display: flex;
    align-items: center;
}

.header-title > mat-icon, .header-title > mat-spinner {
    margin-right: 10px;
}

.header-title {
    font-size: 20px;
}
