<app-entities-frame headerTitle="Access Tokens" svgIcon="ticket">
    <div frame-header-buttons>
        <button mat-icon-button
            matTooltip="Create Access Token"
            (click)="createTokenClick()"
            #createTokenButton
            (mouseenter)="createTokenButton.color='accent'"
            (mouseleave)="createTokenButton.color=''">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <app-list frame-body
        [selectedTokenId]="selectedTokenId"
        (selectedTokenIdChange)="selectToken($event)">
    </app-list>
</app-entities-frame>
