<app-frame headerTitle="Access Tokens" svgIcon="ticket">
    <div frame-header-buttons>
        <app-operation-element spinnerDiameter="25" [working]="creating">
            <button mat-icon-button
                matTooltip="Create Access Token"
                (click)="createTokenClick()"
                #createTokenButton
                (mouseenter)="createTokenButton.color='accent'"
                (mouseleave)="createTokenButton.color=''">
                <mat-icon>add</mat-icon>
            </button>
        </app-operation-element>
    </div>
    <app-list frame-body
        [selectedTokenId]="selectedTokenId"
        (selectedTokenIdChange)="selectToken($event)">
    </app-list>
</app-frame>
