<div id="root">
    <mat-spinner diameter="100" color="accent" *ngIf="loading"></mat-spinner>
    <p *ngIf="!loading && !group">There is no Group {{groupName}}<p>
    <div id="group-profile-container" *ngIf="!loading && group">
        <app-group-profile [groupName]="groupName" [editable]="editable"></app-group-profile>
    </div>
    <div id="group-entities-container" *ngIf="!loading && group">
        <div id="group-members-container">
            <app-group-members [groupName]="groupName" [editable]="editable"></app-group-members>
        </div>
    </div>
</div>
