<div id="root">
    <mat-spinner color="accent" [diameter]="25" *ngIf="loading"></mat-spinner>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!loading && user" id="optionsButton">
        <app-user-image [userName]="user.userName" [spinnerDiameter]="25"></app-user-image>
        {{user.userName}}
    </button>
    <mat-menu #menu="matMenu">
        <app-profile-option></app-profile-option>
        <app-my-tokens-option></app-my-tokens-option>
        <app-change-password-option></app-change-password-option>
        <app-delete-account-option></app-delete-account-option>
        <app-theme-option></app-theme-option>
        <app-logout-option></app-logout-option>
    </mat-menu>
</div>
