<mat-card>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="8:1">
            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">UserName:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="user">{{user.userName}}</mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile [rowspan]="5">
                <mat-grid-list cols="1" rowHeight="8:1" class="fill">
                    <mat-grid-tile [rowspan]="editable ? 4 : 5">
                        <mat-spinner color="accent" spinDiameter="75" *ngIf="loading"></mat-spinner>
                        <app-user-image [userName]="user.userName" spinnerDiameter="75" *ngIf="!loading"></app-user-image>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="editable">
                        <input type="file" (change)="changeImage($event.target.files[0])" #selectFile hidden="true">
                        <button mat-button (click)="selectFile.click()">Change Image</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Name:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="user">
                        <mat-form-field *ngIf="editable">
                            <input matInput type="text" [(ngModel)]="user.name">
                        </mat-form-field>
                        <div *ngIf="!editable">
                            {{user.name}}
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Email:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="user">
                        <mat-form-field *ngIf="editable">
                            <input matInput type="text" [(ngModel)]="user.email">
                        </mat-form-field>
                        <div *ngIf="!editable">
                            {{user.email}}
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">User Since:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="user">{{dateToString(user.creationDate)}}</mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-grid-list cols="8" rowHeight="1:1" class="fill">
                    <mat-grid-tile colspan="2">Role:</mat-grid-tile>
                    <mat-grid-tile colspan="6" *ngIf="user">{{user.role}}</mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions *ngIf="editable" align="center">
        <button mat-button color="warn" (click)="changePasswordClick()">Change Password</button>
        <button mat-button (click)="saveClick()">Save</button>
    </mat-card-actions>
</mat-card>
