<button mat-menu-item [matMenuTriggerFor]="theme_menu">
    <mat-icon id="logo">color_lens</mat-icon>
    Theme
</button>
<mat-menu #theme_menu="matMenu">
    <div id="grid">
        <mat-grid-list cols="2" gutterSize="10">
            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="blue-light"
                    class="fill"
                    (click)="setTheme('blue-light-theme')"
                    (mouseenter)="showTheme('blue-light-theme')"
                    (mouseleave)="hideTheme('blue-light-theme')"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="blue-dark"
                    class="fill"
                    (click)="setTheme('blue-dark-theme')"
                    (mouseenter)="showTheme('blue-dark-theme')"
                    (mouseleave)="hideTheme('blue-dark-theme')"></button>
            </mat-grid-tile>

            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="green-light"
                    class="fill"
                    (click)="setTheme('green-light-theme')"
                    (mouseenter)="showTheme('green-light-theme')"
                    (mouseleave)="hideTheme('green-light-theme')"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="green-dark"
                    class="fill"
                    (click)="setTheme('green-dark-theme')"
                    (mouseenter)="showTheme('green-dark-theme')"
                    (mouseleave)="hideTheme('green-dark-theme')"></button>
            </mat-grid-tile>

            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="grey-light"
                    class="fill"
                    (click)="setTheme('grey-light-theme')"
                    (mouseenter)="showTheme('grey-light-theme')"
                    (mouseleave)="hideTheme('grey-light-theme')"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="grey-dark"
                    class="fill"
                    (click)="setTheme('grey-dark-theme')"
                    (mouseenter)="showTheme('grey-dark-theme')"
                    (mouseleave)="hideTheme('grey-dark-theme')"></button>
            </mat-grid-tile>

            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="purple-light"
                    class="fill"
                    (click)="setTheme('purple-light-theme')"
                    (mouseenter)="showTheme('purple-light-theme')"
                    (mouseleave)="hideTheme('purple-light-theme')"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button
                    mat-raised-button
                    id="purple-dark"
                    class="fill"
                    (click)="setTheme('purple-dark-theme')"
                    (mouseenter)="showTheme('purple-dark-theme')"
                    (mouseleave)="hideTheme('purple-dark-theme')"></button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-menu>
