<div id="profileGrid">
    <mat-toolbar>Profile</mat-toolbar>
    <mat-spinner diameter="75" *ngIf="loadingUser" color="accent" class="fill"></mat-spinner>
    <app-user-info *ngIf="!loadingUser && user" [user]="user" [editable]="editable" class="fill"></app-user-info>
</div>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="25" id="entitiesGrid">
    <mat-grid-tile>
        <mat-grid-list cols="1" rowHeight="8:1" class="fill">
            <mat-grid-tile>
                <mat-toolbar>
                    Groups
                    <button
                        *ngIf="editable"
                        class="addButton"
                        mat-icon-button
                        matTooltip="Create Group"
                        (click)="createGroupClick()"
                        #addGroupButton
                        (mouseenter)="addGroupButton.color='primary'"
                        (mouseleave)="addGroupButton.color=''">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </mat-grid-tile>
            <mat-grid-tile rowspan="7">
                <mat-spinner diameter="75" *ngIf="loadingGroups" color="accent"></mat-spinner>
                <app-user-groups
                    *ngIf="!loadingGroups"
                    class="fill"
                    [groups]="groupsOfUser"
                    [editable]="editable">
                </app-user-groups>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-list cols="1" rowHeight="8:1" class="fill">
            <mat-grid-tile>
                <mat-toolbar>
                    Tools Repositories
                    <button
                        *ngIf="editable"
                        class="addButton"
                        mat-icon-button
                        matTooltip="Create Tools Repository"
                        (click)="createToolsRepositoryClick()"
                        #addToolsRepositoryButton
                        (mouseenter)="addToolsRepositoryButton.color='primary'"
                        (mouseleave)="addToolsRepositoryButton.color=''">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </mat-grid-tile>
            <mat-grid-tile rowspan="7">
                <mat-spinner diameter="75" *ngIf="loadingToolsRepositories" color="accent"></mat-spinner>
                <app-user-tools-repositories
                    *ngIf="!loadingToolsRepositories"
                    class="fill"
                    [repositories]="toolsRepositoriesOfUser"
                    [editable]="editable">
                </app-user-tools-repositories>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-list cols="1" rowHeight="8:1" class="fill">
            <mat-grid-tile>
                <mat-toolbar>
                    Pipelines Repositories
                    <button
                        *ngIf="editable"
                        class="addButton"
                        mat-icon-button
                        matTooltip="Create Pipelines Repository"
                        (click)="createPipelinesRepositoryClick()"
                        #addPipelinesRepositoryButton
                        (mouseenter)="addPipelinesRepositoryButton .color='primary'"
                        (mouseleave)="addPipelinesRepositoryButton .color=''">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </mat-grid-tile>
            <mat-grid-tile rowspan="7">
                <mat-spinner diameter="75" *ngIf="loadingPipelinesRepositories" color="accent"></mat-spinner>
                <app-user-pipelines-repositories
                    *ngIf="!loadingPipelinesRepositories"
                    class="fill"
                    [repositories]="pipelinesRepositoriesOfUser"
                    [editable]="editable">
                </app-user-pipelines-repositories>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
</mat-grid-list>
