<mat-grid-list cols="30" rowHeight="1:1" gutterSize="25" id="root">
    <mat-grid-tile colspan="7" rowspan="8">
    </mat-grid-tile>
    <mat-grid-tile colspan="16" rowspan="8">
        <mat-grid-tile-header>
            Profile
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingUser" color="accent"></mat-spinner>
        <app-user-info *ngIf="!loadingUser && user" [user]="user" [editable]="editable"></app-user-info>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="8">
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="8">
        <mat-grid-tile-header>
            Groups
            <button
                *ngIf="editable"
                class="addButton"
                mat-icon-button
                matTooltip="Create Group"
                (click)="createGroupClick()"
                #addGroupButton
                (mouseenter)="addGroupButton.color='primary'"
                (mouseleave)="addGroupButton.color=''">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingGroups" color="accent"></mat-spinner>
        <app-user-groups
            *ngIf="!loadingGroups"
            class="fill"
            [groups]="groupsOfUser"
            [editable]="editable">
        </app-user-groups>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="8">
        <mat-grid-tile-header>
            Tools Repositories
            <button
                *ngIf="editable"
                class="addButton"
                mat-icon-button
                matTooltip="Create Tools Repository"
                (click)="createToolsRepositoryClick()"
                #addToolsRepositoryButton
                (mouseenter)="addToolsRepositoryButton.color='primary'"
                (mouseleave)="addToolsRepositoryButton.color=''">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingToolsRepositories" color="accent"></mat-spinner>
        <app-user-tools-repositories
            *ngIf="!loadingToolsRepositories"
            class="fill"
            [repositories]="toolsRepositoriesOfUser"
            [editable]="editable">
        </app-user-tools-repositories>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="8">
        <mat-grid-tile-header>
            Pipelines Repositories
            <button
                *ngIf="editable"
                class="addButton"
                mat-icon-button
                matTooltip="Create Pipelines Repository"
                (click)="createPipelinesRepositoryClick()"
                #addPipelinesRepositoryButton
                (mouseenter)="addPipelinesRepositoryButton .color='primary'"
                (mouseleave)="addPipelinesRepositoryButton .color=''">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-grid-tile-header>
        <mat-spinner diameter="75" *ngIf="loadingPipelinesRepositories" color="accent"></mat-spinner>
        <app-user-pipelines-repositories
            *ngIf="!loadingPipelinesRepositories"
            class="fill"
            [repositories]="pipelinesRepositoriesOfUser"
            [editable]="editable">
        </app-user-pipelines-repositories>
    </mat-grid-tile>
</mat-grid-list>
