<app-entities-frame headerTitle="Members" icon="people">
    <div *ngIf="editable" frame-header-buttons>
        <button mat-icon-button
            matTooltip="Add Member"
            (click)="addMemberClick()"
            #addButton
            (mouseenter)="addButton.color='accent'"
            (mouseleave)="addButton.color=''">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
    <app-list frame-body
        [groupName]="groupName"
        [editable]="editable">
    </app-list>
</app-entities-frame>
