<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-spinner color="accent" *ngIf="loading" [diameter]="25"></mat-spinner>
                <mat-icon *ngIf="!loading">insert_drive_file</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                My Pipelines Repositories
                <div class="buttons">
                    <app-operation-icon-button
                        matTooltip="Publish Repository"
                        icon="publish"
                        accentColor="accent"
                        [action]="publishRepositoryClick.bind(this)">
                    </app-operation-icon-button>
                    <app-operation-icon-button
                        matTooltip="Create Repository"
                        icon="add"
                        accentColor="accent"
                        [action]="createRepositoryClick.bind(this)">
                    </app-operation-icon-button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-my-pipelines-repositories-list></app-my-pipelines-repositories-list>
    </mat-expansion-panel>
</mat-accordion>
