<div id="root" (click)="elementClick()">
    <div id="label">
        <app-repository-image class="image" [repositoryName]="repository.repositoryName" [spinnerDiameter]="15"></app-repository-image>
        <div id="name" [matTooltip]="repository.repositoryName">
            {{repository.repositoryName}}
        </div>
    </div>

    <div id="icons">
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <mat-icon   #deleteIcon
                id="delete-icon"
                *ngIf="isOwner && editable && !deleting"
                matTooltip="Delete"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                (click)="deleteClick($event)">
                delete
            </mat-icon>
        </app-operation-element>
        <mat-icon *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
        <mat-icon *ngIf="isMember" matTooltip="Member">people</mat-icon>
        <mat-icon *ngIf="isToolsRepository" matTooltip="Tools Repository">build</mat-icon>
        <mat-icon *ngIf="isPipelinesRepository" matTooltip="Pipelines Repository">insert_drive_file</mat-icon>
    </div>
</div>
