#root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

#root:hover, .selected {
    background-color: rgba(182, 182, 182, 0.20);
}

#label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#image {
    margin-right: 10px;
}

#name {
    overflow: hidden;
    text-overflow: ellipsis;
}

#icons ::ng-deep > * {
    margin-left: 3px;
    margin-right: 3px;
}
