$dark-theme-primary: mat-palette($mat-teal);
$dark-theme-accent: mat-palette($mat-light-green);
$dark-theme-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);
