<app-frame headerTitle="Groups" icon="people">
    <div *ngIf="editable" frame-header-buttons>
        <button mat-icon-button
            matTooltip="Create Group"
            (click)="createGroupClick()"
            #createButton
            (mouseenter)="createButton.color='accent'"
            (mouseleave)="createButton.color=''">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <app-list frame-body
        [userName]="userName"
        [editable]="editable">
    </app-list>
</app-frame>
