<div id="root">
    <div id="root">
        <app-filter-list [filters]="filters" [elements]="repositories">
            <ng-template let-element>
                <app-tools-repository-item [repository]="element"></app-tools-repository-item>
            </ng-template>
            <div id="empty-list" empty-list>
                <p>You currently have no Tools Repositories.</p>
                <app-operation-element spinnerDiameter="25" [working]="creating">
                  <button mat-raised-button
                      #createFirstRepositoryButton
                      (mouseenter)="createFirstRepositoryButton.color='primary'"
                      (mouseleave)="createFirstRepositoryButton.color=''"
                      (click)="createRepositoryClick()">
                      Create Tools Repository
                  </button>
                </app-operation-element>
                <app-operation-element spinnerDiameter="25" [working]="publishing">
                    <button mat-raised-button
                        #publishFirstRepositoryButton
                        (mouseenter)="publishFirstRepositoryButton.color='primary'"
                        (mouseleave)="publishFirstRepositoryButton.color=''"
                        (click)="publishRepositoryClick()">
                        Publish Tools Repository
                    </button>
                </app-operation-element>
            </div>
        </app-filter-list>
    </div>
</div>
