.search-field {
    width: 100%;
}

#check-boxes {
    display: flex;
    justify-content: space-around;
}

mat-nav-list {
    overflow: auto;
    max-height: 200px;
}

.spinner {
    display: flex;
    justify-content: center;
}
