<app-list-option [name]="repository.repositoryName" [link]="'/repositories/' + repository.repositoryName">
    <app-repository-image
        list-option-image
        [repositoryName]="repository.repositoryName"
        [spinnerDiameter]="15">
    </app-repository-image>
    <app-operation-icon-button
        list-option-icons
        *ngIf="editable"
        matTooltip="Delete"
        icon="delete"
        accentColor="warn"
        [action]="deleteClick.bind(this)">
    </app-operation-icon-button>
    <mat-icon list-option-icons *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
    <mat-icon list-option-icons *ngIf="isMember" matTooltip="Member">people</mat-icon>
    <mat-icon list-option-icons *ngIf="isToolsRepository" matTooltip="Tools Repository">build</mat-icon>
    <mat-icon list-option-icons *ngIf="isPipelinesRepository" matTooltip="Pipelines Repository">insert_drive_file</mat-icon>
</app-list-option>
