@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "../node_modules/@angular/material/theming";

@include mat-core();

@import './themes/blue-theme';
@import './themes/green-theme';
@import './themes/grey-theme';
@import './themes/purple-theme';

.blue-light-theme {
    @include angular-material-theme($blue-light-theme);
}

.blue-dark-theme {
    @include angular-material-theme($blue-dark-theme);
}

.green-light-theme {
    @include angular-material-theme($green-light-theme);
}

.green-dark-theme {
    @include angular-material-theme($green-dark-theme);
}

.grey-light-theme {
    @include angular-material-theme($grey-light-theme);
}

.grey-dark-theme {
    @include angular-material-theme($grey-dark-theme);
}

.purple-light-theme {
    @include angular-material-theme($purple-light-theme);
}

.purple-dark-theme {
    @include angular-material-theme($purple-dark-theme);
}

.fill {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}
