<app-list-option [name]="group.groupName" [link]="'/groups/' + group.groupName">
    <app-group-image
        list-option-image
        [groupName]="group.groupName"
        [spinnerDiameter]="15">
    </app-group-image>
    <app-operation-icon-button
        list-option-icons
        *ngIf="editable"
        matTooltip="Delete"
        icon="delete"
        accentColor="warn"
        [action]="deleteClick.bind(this)">
    </app-operation-icon-button>
    <mat-icon list-option-icons *ngIf="isOwner" matTooltip="Owner">person</mat-icon>
    <mat-icon list-option-icons *ngIf="isMember" matTooltip="Member">people</mat-icon>
</app-list-option>
