app-list-option ::ng-deep app-user-image ::ng-deep .content {
    font-size: 20px;

    height: 25px;
    width: 25px;

    margin-right: 10px;
}

app-list-option ::ng-deep app-user-image ::ng-deep img {
    border-radius: 50%;
}

app-list-option ::ng-deep #name {
    max-width: 20vw;
}
