<a  mat-list-item
    class="entity"
    routerLink="/users/{{member.userName}}">
    <mat-spinner color="accent" *ngIf="loading" [diameter]="25"></mat-spinner>
    <app-user-image *ngIf="!loading" class="image" [userName]="member.userName" [spinnerDiameter]="15"></app-user-image>
    <div id="name" [matTooltip]="member.userName">
        {{member.userName}}
    </div>

    <div class="icons">
        <app-operation-element spinnerDiameter="25" [working]="changingAccess">
            <mat-slide-toggle [(ngModel)]="member.writeAccess" matTooltip="Write Access"></mat-slide-toggle>
        </app-operation-element>
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <mat-icon   #deleteIcon
                id="delete-icon"
                *ngIf="editable && !deleting"
                matTooltip="Delete"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                (click)="deleteClick()">
                delete
            </mat-icon>
        </app-operation-element>
        <mat-icon *ngIf="isRead" matTooltip="Read Access" svgIcon="pencil-off"></mat-icon>
        <mat-icon *ngIf="isWrite" matTooltip="Write Access" svgIcon="pencil"></mat-icon>
        <mat-icon matTooltip="User">person</mat-icon>
    </div>
</a>
