<button mat-button *ngIf="!selected" #itemButton
    (mouseenter)="itemButton.color='primary'"
    (mouseleave)="itemButton.color=''">
    <div class="button-content">
        <div class="config-name" [matTooltip]="config.name">
            {{config.name}}
        </div>
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <mat-icon #deleteIcon *ngIf="!deleting"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                matTooltip="Delete Config"
                (click)="deleteClick($event)">
                delete
            </mat-icon>
        </app-operation-element>
    </div>
</button>
<button mat-raised-button *ngIf="selected" color="primary">
    <div class="button-content">
        <div class="config-name" [matTooltip]="config.name">
            {{config.name}}
        </div>
        <app-operation-element spinnerDiameter="25" [working]="deleting">
            <mat-icon #deleteIcon *ngIf="!deleting"
                (mouseenter)="deleteIcon.color='warn'"
                (mouseleave)="deleteIcon.color=''"
                matTooltip="Delete Config"
                (click)="deleteClick($event)">
                delete
            </mat-icon>
        </app-operation-element>
    </div>
</button>
