.container {
    padding: 10px;
    min-width: 40vw;
    min-height: 40vh;
    display: grid;
    align-items: end;
}

#content {
    display: flex;
    width: 60vw;
    height: 60vh;
}

#content-container {
    width: 70%;
    max-height: 100%;
}

#image-container {
    width: 30%;
    height: 100%;
    display: grid;
    align-content: space-evenly;
}

app-raw-image ::ng-deep #content {
    font-size: 150px;

    height: 150px;
    width: 150px;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
    height: 55vh;
}
